<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.LMS.mapper.MemberMapper">
	<select id="selectMember" parameterType="com.gd.LMS.vo.Member" resultType="com.gd.LMS.vo.Member">
		SELECT
			member_name memberName,
			member_gender memberGender
		FROM member
		WHERE
			member_id = #{memberId}
			AND
			member_pw = #{memberPw}
	</select>
	
	<select id="selectMemberIdCheck" resultType="string" parameterType="string">
		SELECT
			member_id memberId
		FROM member
		WHERE
			member_id = #{memberId}
	</select>
	
	<insert id="insertMember" parameterType="com.gd.LMS.vo.Member">
		INSERT INTO member (
			member_id,
			member_pw,
			member_name,
			member_gender,
			member_type,
			member_birth,
			member_email,
			member_address,
			member_contact,
			create_date
		) VALUES (
			#{memberId},
			#{memberPw},
			#{memberName},
			#{memberGender},
			#{memberType},
			#{memberBirth},
			#{memberEmail},
			#{memberAddress},
			#{memberContact},
			NOW()
		)
	</insert>
	
</mapper>