<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.LMS.score.mapper.ScoreMapper">

	<!-- 학생시험점수리스트 -->
	<select id="selectStudentScoreList" parameterType="int" resultType="map"> 
		SELECT 
			o.opened_lec_no openedLecNo, 
			t.lecture_name lectureName, 
			m.member_name professorName, 
			t.lecture_type lectureType, 
			s.exam_score examScore,
			s.attendance_score attendanceScore,
			s.assignment_score assignmentScore,
			a.exam_name examName,
			t.credit 
		FROM 
			total_lecture t, 
			student_lecture s,
			professor p, 
			member m,
			opened_lecture o
		LEFT OUTER JOIN
			exam_sheet a
		ON 
			a.opened_lec_no = o.opened_lec_no
		WHERE 
			t.lecture_code = o.lecture_code AND
			o.opened_lec_no = s.opened_lec_no AND 
			p.professor_code = o.professor_code AND 
			p.member_id = m.member_id AND 
			student_code = #{studentCode}
	</select>
	
	<!-- 총 출석일  -->
	<select id="selectAttendanceTotal" parameterType="int" resultType="map">
	SELECT
	   COUNT(*) attTotal
	FROM
	   attendance a,
	   student s,
	   opened_lecture o,
	   student_lecture l
	WHERE
	   a.student_lec_no = l.student_lec_no AND
	   l.opened_lec_no = o.opened_lec_no AND
	   s.student_code = l.student_code AND
	   l.student_code = #{studentCode} AND
	   l.opened_lec_no = #{openedLecNo}    
	</select>
	
	<!-- 학생 출석일 -->
	<select id="selectAttendance" parameterType="int" resultType="map">
	SELECT
	   COUNT(*) attendance
	FROM
	   attendance a,
	   student s,
	   opened_lecture o,
	   student_lecture l
	WHERE
	   a.student_lec_no = l.student_lec_no AND
	   l.opened_lec_no = o.opened_lec_no AND
	   s.student_code = l.student_code AND
	   l.student_code = #{studentCode} AND
	   l.opened_lec_no = #{openedLecNo} 
	   AND a.attendance_state = '출석';	
	</select>
	
	<!-- 출석점수 등록 -->
	<update id="updateAttScore" parameterType="map">
		UPDATE
			student_lecture
		SET
			attendance_score = #{attendanceScore}
		WHERE
			student_code = #{studentCode} AND
			opened_lec_no = #{openedLecNo};
	</update>
	
	<!-- 종강일 -->
	<select id="selectEndLec">
	SELECT
	   attendance_date endLec
	FROM
	   attendance a
	ORDER BY
	   attendance_date DESC
	LIMIT
   	0,1   ;
	</select>


	
</mapper>