<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.LMS.lecture.mapper.LectureMapper">
	
	
	<!-- 학생수강리스트 -->
	<select id="selectStudentLectureList" parameterType="int" resultType="map">
		SELECT
			o.opened_lec_no openedLecNo,
			t.lecture_name lectureName,
			m.member_name professorName,
			t.lecture_type lectureType,
			t.credit
		FROM
			total_lecture t,
			opened_lecture o,
			student_lecture s,
			professor p,
			member m
		WHERE
			t.lecture_code = o.lecture_code AND
			o.opened_lec_no = s.opened_lec_no AND
			p.professor_code = o.professor_code AND
			p.member_id = m.member_id AND
			student_code = #{studentCode}		
	</select>
	
	<!-- 학생수강상세보기 -->
	<select id="selectOpenedLectureOne" parameterType="int" resultType="map">
		SELECT
			m.member_name professorName,
			t.lecture_type lectureType,
			t.lecture_name lectureName,
			t.credit,
			d.department_name departmentName,
			SUBSTRING(o.open_lecture_date,1,4) lectureYear,
			(CASE WHEN CAST(SUBSTRING(open_lecture_date,6,2) AS unsigned)>=8 THEN 2
					ELSE 1
			END) AS lectureSemester,
			o.lec_classroom lecClassroom,
			o.student_num studentNum,
			o.syllabus,
			o.opened_lec_no openedLecNo
		FROM
			opened_lecture o,
			total_lecture t,
			department d,
			professor p,
			member m
		WHERE
			o.lecture_code = t.lecture_code AND
			t.department_code = d.department_code AND
			o.professor_code = p.professor_code AND
			p.member_id = m.member_id AND
			opened_lec_no = #{openedLecNo}
	</select>
	
	<select id="selectLectureQuestionList" parameterType="int" resultType="com.gd.LMS.vo.LectureQuestion">
		SELECT
			lec_question_no lecQuestionNo,
			opened_lec_no openedLecNo,
			notice_title noticeTitle,
			writer,
			answer_y answerY,
			create_date createDate
		FROM
			lecture_question
		WHERE
			opened_lec_no = #{openedLecNo}
	</select>
	
	<select id="selectLectureQuestionOne" parameterType="int" resultType="map">
		SELECT
			q.lec_question_no lecQuestionNo,
			t.lecture_name lectureName,
			o.opened_lec_no openedLecNo,
			q.notice_title noticeTitle,
			q.notice_content noticeContent,
			q.writer,
			q.answer_y answerY,
			q.create_date createDate
		FROM
			lecture_question q,
			opened_lecture o,
			total_lecture t
		WHERE
			q.opened_lec_no = o.opened_lec_no AND
			o.lecture_code = t.lecture_code AND
			lec_question_no = #{lecQuestionNo}
	</select>
	
</mapper>