<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.LMS.schedule.mapper.ScheduleMapper">

	<select id="selectLectureSchedule" parameterType="int" resultType="map">
		SELECT
			l.lec_time_no lecTimeNo,
			l.opened_lec_no openedLecNo,
			l.lecture_yoil lectureYoil,
			l.lecture_start lectureStart,
			l.lecture_end lectureEnd,
			YEAR(o.open_lecture_date) openYear,
			YEAR(o.close_lecture_date) closeYear,
			MONTH(o.open_lecture_date) openMonth,
			MONTH(o.close_lecture_date) closeMonth,
			DAY(o.open_lecture_date) openDay,
			DAY(o.close_lecture_date) closeDay,
			o.lec_classroom lecClassRoom,
			s.student_code studentCode,
			t.lecture_name lectureName
		FROM 
			lecture_time l,
			opened_lecture o,
			student_lecture s,
			total_lecture t
		WHERE
			l.opened_lec_no = o.opened_lec_no AND
			o.opened_lec_no = s.opened_lec_no AND
			t.lecture_code = o.opened_lec_no AND 
			s.student_code = #{studentCode}
	</select>
	
	<select id="selectLectureTime" parameterType="int" resultType="map"> 
		SELECT 
			opened_lec_no openedLecNo, 
			lecture_yoil lectureYoil, 
			lecture_start lectureStart, 
			lecture_end lectureEnd 
		FROM 
			lecture_time 
		WHERE 
			opened_lec_no = #{openedLecNo} 
	</select>
</mapper>