<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.LMS.member.mapper.MemberMapper">

	<!-- 로그인 -->
	<select id="selectMemberLogin" parameterType="com.gd.LMS.vo.Member"
		resultType="com.gd.LMS.vo.Member">
		SELECT
			member_id memberId,
			member_pw memberPw,
			member_type memberType,
			active
		FROM member
		WHERE 
			member_id = #{memberId} 
		AND 
			member_pw = #{memberPw}
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertMemberRegister" parameterType="com.gd.LMS.vo.Member">
		INSERT INTO member (
			member_id,
			member_pw,
			member_name,
			member_gender,
			member_type,
			member_birth,
			member_email,
			member_address,
			member_contact,
			create_date
		) VALUES (
			#{memberId},
			#{memberPw},
			#{memberName},
			#{memberGender},
			#{memberType},
			#{memberBirth},
			#{memberEmail},
			#{memberAddress},
			#{memberContact},
			NOW()
		)
	</insert>
	
	<!-- 회원가입 중복체크 -->
	<select id="selectMemberIdCheck" resultType="string" parameterType="string">
		SELECT
			member_id memberId
		FROM member
		WHERE
			member_id = #{memberId}
	</select>
	
	<!-- 최근접속 갱신 -->
	<update id="updateMemberLastLogin" parameterType="string">
		UPDATE 
			member
		SET 
			last_login = NOW()
		WHERE 
			member_id = #{memberId}
	</update>
	
	<!-- 최근 접속일이 90일 이후면 휴면계정처리  스피링 스케쥴러 설정으로 호출-->
	<update id="updateMemberActiveN">
		UPDATE 
			member
		SET 
			active = 'N'
		WHERE 
			DATEDIFF(NOW(), last_login) > 90 AND active = 'Y'
	</update>
</mapper>