<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.LMS.exam.mapper.professorExMapper">

<!-- 시험지 리스트 -->
	<select id="selectExList" parameterType="int" resultType="com.gd.LMS.vo.ExamSheet">
		SELECT
			exam_no examNo,
			exam_name examName,
			create_date createDate,
			update_date updateDate
		FROM
			exam_sheet
	</select>
	



<!-- 시험지 상세보기 -->
	<select id="selectExOne" parameterType="int" resultType="com.gd.LMS.vo.ExamSheet">
		SELECT
			exam_no examNo,
			exam_name examName,
			create_date createDate,
			update_date updateDate
		FROM
			exam_sheet
		WHERE
			exam_no = #{examNo}
	</select>



<!-- 시험지상세 : 객관식문제 -->
	<select id="selectMultipleQ" parameterType="int" resultType="com.gd.LMS.vo.MultipleChoiceQuestion">
			SELECT 
			A.opened_lec_no openLecNo,
			A.multiple_no multipleNo,
			A.multiple_content multipleContent, 
			A.multiple_answer multipleAnswer,
			A.question_point questionPoint,
			A.create_date createDate,
			A.update_date updateDate,
			Z.arrayUs 
		FROM multiple_choice_question A
			,(SELECT B.multiple_no, GROUP_CONCAT(B.arrayUs) AS arrayUs FROM(
				SELECT example,multiple_no,GROUP_CONCAT(example_content) arrayUs FROM(
					SELECT * FROM multiple_example WHERE exam_no = #{examNo} ORDER BY multiple_no,example ASC
					LIMIT 1000
					)A
					GROUP BY A.multiple_no,example
				)B
				GROUP BY B.multiple_no
			)Z
		WHERE A.multiple_no = Z.multiple_no	 AND A.exam_no = #{examNo}

	</select>



<!-- 시험지상세 : 객관식보기 -->
	<select id="selectMultipleExample" parameterType="int" resultType="com.gd.LMS.vo.MultipleExample">
		SELECT 
			exam_no examNo,
			multiple_no multipleNo,
			example,
			example_content exampleContent,
			create_date createDate,
			update_date updateDate
		From 
			multiple_example
		WHERE 
			exam_no = #{examNo}
		
	</select>
		
		
		
<!-- 시험지상세 : 주관식보기 -->
	<select id="selectSubjectiveQ" parameterType="int" resultType="com.gd.LMS.vo.SubjectiveQuestion">
		SELECT 
			opened_lec_no openedLecNo,
			exam_no examNo,
			subjective_no subjectiveNo,
			subjective_content subjectiveContent,
			subjective_answer subjectiveAnswer,
			question_point questionPoint,
			create_date createDate,
			update_date updateDate
		From 
			subjective_question
		WHERE 
			exam_no = #{examNo} 
	</select>






<!-- 시험지이름 수정 -->
	<update id="updateExamSheetName" parameterType="int">
	UPDATE 
		exam_sheet 
	SET
		exam_name = #{examName}
	WHERE 
		exam_no = #{examNo}
	</update>
	
<!-- 객관식 문제 수정 -->
	<update id="updateMultipleContent" parameterType="int">
	UPDATE 
		multiple_choice_question
	SET
		multiple_content = #{multipleContent}
	WHERE 
		exam_no = #{examNo} AND multiple_no = #{multipleNo}
	</update>
	
<!-- 객관식 문제보기내용 수정 -->
	<update id="updateExampleContent" parameterType="int">
	UPDATE 
		multiple_example
	SET
		example_content = #{exampleContent}
	WHERE 
		exam_no = #{examNo} AND multiple_no = #{multipleNo} AND example = #{example}
	</update>
	
<!-- 객관식 정답 수정 -->
	<update id="updateMultipleAnswer" parameterType="int">
	UPDATE 
		multiple_choice_question
	SET
		example_answer = #{exampleAnswer}
	WHERE 
		exam_no = #{examNo} AND multiple_no = #{multipleNo}
	</update>	
	
<!-- 주관식 문제 수정 -->
	<update id="updateSubjectiveContent" parameterType="int">
	UPDATE 
		subjective_question
	SET
		subjective_content = #{subjectiveContent}
	WHERE 
		exam_no = #{examNo} AND subjective_no = #{subjectiveNo}
	</update>	
<!-- 주관식 정답 수정 -->
	<update id="updateSubjectiveAnswer" parameterType="int">
	UPDATE 
		subjective_question
	SET
		subjective_answer = #{subjectiveAnswer}
	WHERE 
		exam_no = #{examNo} AND subjective_no = #{subjectiveNo}
	</update>	
	
	
	
	


<!-- 시험지삭제.1 : 객관식 보기 삭제  -->
	<delete id="deleteMultupleExample" parameterType="int" >
		DELETE FROM 
			multiple_example
		WHERE
			exam_no = ${examNo}
	</delete>
<!-- 시험지삭제.2 : 객관식 문제 삭제 -->
	<delete id="deleteMultipleQ" parameterType="int" >
		DELETE FROM 
			multiple_choice_question
		WHERE
			exam_no = ${examNo}
	</delete>
<!-- 시험지삭제.3 : 주관식 문제 삭제 -->
	<delete id="deleteSubjectiveQ" parameterType="int" >
		DELETE FROM 
			subjective_question
		WHERE
			exam_no = ${examNo}
	</delete>
<!-- 시험지삭제.4 : 시험지 삭제 -->
	<delete id="deleteExamSheet" parameterType="int" >
		DELETE FROM 
			exam_sheet
		WHERE
			exam_no = ${examNo}
	</delete>









</mapper>