<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.LMS.assignment.mapper.AssignmentMapper">
	<!-- 과제리스트 -->
	<select id="selectOpenedAssignmentList" parameterType="map" resultType="map">
		SELECT
			a.assignment_no assignmentNo,
			a.opened_lec_no openedLecNo,
			a.assignment_title assignmentTitle,
			a.assignment_content assignmentContent,
			'N' AS assignmentDid,
			'평가전' as assignmentScore,
			a.create_date createDate
		FROM 
			assignment a,
			student_lecture l,
			student s
		WHERE
			a.opened_lec_no = l.opened_lec_no AND
			l.student_code = s.student_code AND 
			l.opened_lec_no = #{openedLecNo} AND 
			s.student_code = #{studentCode}
	</select>
	
	<!-- 과제상세보기 -->
	<select id="selectOpenedAssignmentOne" parameterType="int" resultType="map">
		SELECT
			a.opened_lec_no openedLecNo,
			t.lecture_name lectureName,
			a.assignment_title assignmentTitle,
			a.assignment_content assignmentContent,
			a.end_date endDate
		FROM 
			assignment a,
			opened_lecture o,
			total_lecture t
		WHERE
			a.opened_lec_no = o.opened_lec_no AND
			o.lecture_code = t.lecture_code AND 
			a.assignment_no = #{assignmentNo}
	</select>
	
	<!-- 학생 과제 추가 -->
	<insert id="insertStudentAssignmentReg" parameterType="com.gd.LMS.vo.AssignmentReg">
	
		INSERT INTO 
				assignment_reg(
							assignment_reg_no,
							student_lec_no,
							assignment_no,
							assignment_content,
							assignment_reg_did,
							create_date
							)
				VALUES(
					#{assignmentRegNo}
					#{studentLecNo}
					#{assignmentNo}
					#{assignmentContent}
					#{assignmentRegDid}
					now()
					)	
	</insert>
	
	<!--  학생과제 수정 -->
	<update id ="updateStudentAssignmentReg" parameterType="com.gd.LMS.vo.AssignmentReg" >
		UPDATE
			assignment_reg 
		SET 
			assignment_reg_no = #{assignmentRegNo},
			assignment_reg_content = #{assignmentContent},
			assignment_reg_did = #{assignmentRegDid},
			create_date = now()
		WHERE 
			assignment_reg_no = #{assignmentRegNo}
	
	</update>
	
	<!--  학생과제 삭제 -->
	<delete id ="deleteStudentAssignmentReg" parameterType="com.gd.LMS.vo.AssignmentReg">
		
	DELETE FROM
		assignment_reg
	WHERE 
		assignment_reg_no = #{assignmentRegNo}
	
	</delete>
	
	<!--################################# 학생 과제 이미지 -->
	
	<!-- 학생 과제 이미지 추가 -->
	<insert id = "insertAssignmentImg" parameterType="com.gd.LMS.vo.AssignmentRegImg">
	
	INSERT INTO 
		assignment_reg_img (
				assignment_reg_no, 
				file_name, 
				origin_name, 
				content_type)
		 VALUES (
		 		#{assignmentRegNo},
		 		#{fileName}, 
		 		#{originName}, 
				#{contentType}
				)
	</insert>
	
	<!-- 학생 과제 이미지 수정 -->
	<update id="updateAssignmentRegImg" parameterType="map">
	 UPDATE
	 	 assignment_reg_img
	 SET 
	 	file_name = #{fileName}, 
	 	origin_filename = 	#{originFilename}, 
	 	content_type = #{contentType}
	 WHERE 
	 	assignment_reg_no = #{assignmentRegNo}
	
	</update>
	
	<!-- 학생 과제 이미지 삭제 -->
	<delete id="deleteAssignmentImg" parameterType="int">
	
	
	DELETE FROM 
		assignment_reg_img 
	WHERE 
		assignment_reg_no = #{assignmentRegNo}
	</delete>
	
</mapper>
	