<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.LMS.assignment.mapper.AssignmentRegImgMapper">


	<!-- @###############첨부파일 관련 메서드 -->
	<insert id="insertRegFile" parameterType="com.gd.LMS.vo.AssignmentRegImg">
			INSERT INTO assignment_reg_img(
				assignment_reg_no,
				file_type,
				origin_name,
				file_name,
				create_date
			) VALUES (
				#{assignmentRegNo},
				#{fileType},
				#{originName},
				#{fileName},
				now()
			)

	</insert>


</mapper>